body {
    background-color: #EDEDE9;
    overflow: hidden;
}

.barradetarefas {
    position: fixed;
    top: 0%;
    left: 0%;

}

.bloco1 {
    position: fixed;
    left: 5%;
    top: 10%;

}
.bloco2{
    position: fixed;
    left: 5%;
    top: 55%;

}

.bloco3{
    position: fixed;
    left: 45%;
    top: 10%;

}

.bloco4{
    position: fixed;
    left: 45%;
    top: 55%;
}