body {
    background-color: #EDEDE9;
    text-align: center;
        overflow-x: hidden;
}

.barradetarefas {
    position: fixed;
    top: 0%;
    left: 0%;
    
}
header{
    margin-top: -1%;
    margin-left: -0.40%;
    width: 104%;
    height: 3rem;
    background-color: white;
}

img{
    margin-top: 0.75%;
    margin-left: 1%;

}

.text-header{
    text-align: left;
}

.bloco1{
    margin-top: 2%;
    
}