*,*::after, * ::before{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
body{
    background-color: #EDEDE9;
    background-position: right top;
    background-origin: content-box;
    overflow-x: hidden;
}


header{
    margin-top: -1%;
    margin-left: -0.40%;
    width: 104%;
    height: 30rem;
    background-color: #0096C7;
    text-align: center;
}

#imagemflask{
    margin-top: 5%;
}


/* O que é Flask */
#oqueeflask{
    position: relative;
    font-family: "Nunito", 'sans-serif';
    top: 50%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
    font-weight: 800;
}

#oqueetexto{
    position: relative;
    font-family: "Nunito", 'sans-serif';
    top: 58%;
    left: 5%;
    margin-right: 3%;
    padding-top: 30px;
    padding-right: 50px;
    font-weight: 600;
}

ul{
    font-family: "Nunito", 'sans-serif';
    position: relative;
    top: 69%;
    left: 5.5%;
    padding-top: 30px;
    padding-right: 50px;
    font-weight: 600;
}
/* Fim do "O que é Flask" */

/* Pré requesitos */

#prerequesitostitulo{
    position: relative;
    font-family: "Nunito", 'sans-serif';
    top: 80%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
    font-weight: 800;
    margin-right: 3%;
}

#prerequesitos{
    position: relative;
    font-family: 'Nunito', 'sans-serif';
    top: 88%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
    margin-right: 3%;
    font-weight: 600;
}

#lista2{
    position: relative;
    top: 92%;
    padding-top: 30px;
    padding-right: 50px;
    font-weight: 600;
}

#segundaparte{
    position: relative;
    top: 100%;
    font-family: 'nunito', 'sans-serif';
    font-weight: 600;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
    margin-right: 3%;

}

#gifnice{
    position: relative;
    top: 108%;
    left: 35%;
    padding-top: 30px;
    padding-right: 50px;
    border-radius: 2%;
}
/* Fim dos pré requesitos */

/* Como usar */

#comousar{
    font-family: "Nunito", 'sans-serif';
    font-weight: 800;
    position: relative;
    top: 155%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
}

#comousartexto{
    font-family: 'Nunito', 'sans-serif';
    font-weight: 600;
    position: relative;
    top: 163%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
    margin-right: 3%;
}

#primeiropasso{
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    position: relative;
    top: 172%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
}

#primeiropassotexto{
    font-family: 'Nunito', 'sans-serif';
    font-weight: 600;
    position: relative;
    top: 176%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
}

#acessarpackages{
    position: relative;
    top: 185%;
    left: 25%;
    padding-top: 30px;
    padding-right: 50px;
}

#segundopasso{
    font-family: "Nunito", "sans-serif";
    font-weight: 700;
    position: relative;
    top: 245%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
}

#segundopassotexto{
    font-family: "Nunito", "sans-serif";
    font-weight: 600;
    position: relative;
    top: 250%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
}
#installflask{
    position: relative;
    top: 260%;
    left: 25%;
    padding-top: 30px;
    padding-right: 50px;
}

#terceiropasso{
    font-family: "Nunito", "sans-serif";
    font-weight: 700;
    position: relative;
    top: 323%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
}

#terceiropassotexto{
    font-family: "Nunito", "sans-serif";
    font-weight: 600;
    position: relative;
    top: 329%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
}

#primeirarun{
    position: relative;
    top: 340%;
    left: 25%;
    padding-top: 30px;
    padding-right: 50px;
}

#terceiropassotexto2{
    font-family: "Nunito", "sans-serif";
    font-weight: 600;
    position: relative;
    top: 410%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
    margin-right: 3%
}

#Documentacao{
    font-family: "Nunito", 'sans-serif';
    font-weight: 800;
    position: relative;
    top: 415%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
}

#documentacaotutorial{
    font-family: "Nunito", 'sans-serif';
    font-weight: 600;
    position: relative;
    top: 423%;
    left: 5%;
    padding-top: 30px;
    padding-right: 50px;
    margin-right: 3%;
}

.DigitalOcean{
    position: relative;
    top: 435%;
    left: 5%;
}

.freeCodeCamp{
    position: relative;
    top: 435%;
    left: 35%;
}

.Microsoft{
    position: relative;
    top: 435%;
    left: 65%;
}

#fonte{
    font-family: 'Nunito', 'san-serif';
    font-weight: 800;
    position: relative;
    top: 460%;
    left: 5%;
}

#fontelista{
    font-family: 'Nunito', 'sans-serif';
    font-weight: 600;
    position: relative;
    top: 470%;

}
